/* Write your CSS here */

.con {
  display: flex;
  width: 100%;
}

.content-head-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
<<<<<<< HEAD
  flex-shrink: 0;
}

.ul {
  list-style-type: none;
=======
>>>>>>> 7a68e4db2604972dda8031b06225f08c5cfcafd3
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  background-color: #e2e8f0;
  padding-left: 5px;
  margin: 3px;
<<<<<<< HEAD
  flex-shrink: 0;
  align-self: stretch;
=======
>>>>>>> 7a68e4db2604972dda8031b06225f08c5cfcafd3
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  background-color: #f1f5f9;
  width: 30%;
<<<<<<< HEAD
  flex-shrink: 0;
  align-self: stretch;
=======
>>>>>>> 7a68e4db2604972dda8031b06225f08c5cfcafd3
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
  width: 30%;
  padding-left: 5px;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
<<<<<<< HEAD
  flex-shrink: 0;
  align-self: stretch;
=======
>>>>>>> 7a68e4db2604972dda8031b06225f08c5cfcafd3
}

.right-fir-con {
  border: 2px solid #f1f5f9;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
