/* Write your CSS here */

.footer-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbd5e1;
  margin-left: 3px;
<<<<<<< HEAD
  flex-shrink: 0;
=======
>>>>>>> 7a68e4db2604972dda8031b06225f08c5cfcafd3
}

h1 {
  color: #64748b;
}
